################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/autoszerviz/.vs
/autoszerviz/obj
/autoszerviz/bin/Debug/net8.0/autoszerviz.dll
